@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your global styles below */
body,
html {
  min-height: 100vh;
  background: #f9f9f9;
  color: #324063;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media (min-width: 640px) {
  .flex {
    flex-direction: row;
  }
}

@media (max-width: 639px) {
  .flex {
    flex-direction: column;
  }
}
